
<div class='welcome-layout'>
        <!--<div class='menu'>
            <div class='menu-bar-line'></div>
            <div class='menu-bar-line'></div>
            <div class='menu-bar-line'></div>
        </div>-->
        <h4 class="logo-header">Native-Villagers</h4> 
        <li>
            <a [routerLink]="['/events']" [routerLinkActive]="['selected']">Events</a>
        </li>
        <li>
            <a [routerLink]="['/details']" [routerLinkActive]="['selected']">Details</a>
        </li>
        <li>
            <a [routerLink]="['/myDiary']" [routerLinkActive]="['selected']" >My Diary</a>
        </li> 
         <li>
            <a [routerLink]="['/hospital']" [routerLinkActive]="['selected']" >Hospital</a>
        </li> 
  
</div>
<!-- App Tiles-->
<div class="tiles-container" *ngIf="tiles" >

    <div class="tiles" (click)="redirect('events')">
        <h4>Events</h4>
    </div>

     <div class="tiles" (click)="redirect('details')">
        <h4>Home delivery</h4>
    </div>

     <div class="tiles" (click)="redirect('myDiary')">
        <h4>Medicine</h4>
    </div>



</div>
<!-- App titles closed-->
<div class='welcome-layout-child'>
    <router-outlet></router-outlet>
</div>